*.Identifier
.idea/libraries/
.idea/shelf/
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/workspace.xml
*.iws
*.iml
*.ipr
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.local.xml
*~
.DS_Store
.mvn/wrapper/maven-wrapper.jar
target/
Thumbs.db
[Dd]esktop.ini
*.ps